@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
@mixin centerXY {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGE
/*
 0 - 600px 
 600 - 900px
 900 - 1200px
 1200 - 1800px
 1800px +
*/

/*
$breakpoint
-sm :600px
-md :900px
-lg :1200px
-xl :1800px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == md {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == lg {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == xl {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
